@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    color: var(--foreground);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* TODO: create more atomical components */
/* Applying CSS to element to save time */
h1 {
  @apply flex items-center text-4xl font-extrabold dark:text-white;
}

a {
  @apply text-primary-500 dark:text-primary-300;
}

dl {
  @apply my-4;
}
dt {
  @apply mb-1 mt-3 text-sm font-bold uppercase;
}
dd a {
  @apply break-all;
}

li button:hover {
  @apply text-primary-500 dark:text-primary-300;
}
